.stroke path {
  fill: none;
  stroke: #e6f7ff;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s ease forwards;
}

.fill path {
  fill: #e6f7ff;
  clip-path: inset(100% 0 0 0);
  animation: fillUp 2s ease forwards;
  animation-delay: 1s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillUp {
  to {
    clip-path: inset(0 0 0 0);
  }
}